.combo-box-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.combo-box-container select {
    padding: 14px;
    font-size: 16px; 
    height: 55px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.combo-box-container .lbt input[type="text"] {
    width: 80px; 
    height: 55px;
    padding: 0 10px; 
    outline: none;
    font-size: 16px;
}
.lbt input{
    padding: 3px 0;
}
.title{
    color: #fff;
    font-weight: bold;
}
.lb select{
    font-size: 16px;
}

